absl-py              0.9.0
astor                0.8.1
certifi              2020.4.5.1
chardet              3.0.4
gast                 0.3.3
google-pasta         0.2.0
grpcio               1.28.1
h5py                 2.10.0
idna                 2.9
Keras                2.3.1
Keras-Applications   1.0.8
Keras-Preprocessing  1.1.0
Markdown             3.2.1
numpy                1.18.4
Pillow               7.1.2
pip                  20.0.2
protobuf             3.11.3
PyYAML               5.3.1
requests             2.23.0
scipy                1.4.1
setuptools           46.1.3.post20200330
six                  1.14.0
tensorboard          1.14.0
tensorflow-estimator 1.14.0
tensorflow-gpu       1.14.0
termcolor            1.1.0
urllib3              1.25.9
Werkzeug             1.0.1
wheel                0.34.2
wincertstore         0.2
wrapt                1.12.1

CUDA 10.0
python 3.6

Microsoft Visual Studio/2017/Community/VC/Tools/MSVC/14.14.26428/bin/Hostx64/x64
Microsoft Visual Studio/2017/Professional/VC/Tools/MSVC/14.15.26726/bin/Hostx64/x64
Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.23.28105/bin/Hostx64/x64
Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.25.28610/bin/Hostx64/x64
Microsoft Visual Studio 14.0/vc/bin

realease 
VS2017 community 14.14.26428 x64 (권장)
VS2019 community 14.23.28105 x64
VS2019 community 14.23.28610 x64
VS 14.0
